<div class="clouds">
  {% include cloud-two.html %}
  {% include cloud-one.html %}
  {% include cloud-two.html %}
  {% include cloud-two.html %}
  {% include cloud-one.html %}
  {% include cloud-two.html %}
  {% include cloud-one.html %}
  {% include cloud-one.html %}
  {% include cloud-two.html %}
  {% include cloud-one.html %}
  {% include cloud-one.html %}
  {% include cloud-two.html %}
  {% include cloud-two.html %}
  {% include cloud-two.html %}
  {% include cloud-one.html %}
  {% include cloud-one.html %}
  {% include cloud-two.html %}
  {% include cloud-two.html %}
  {% include cloud-one.html %}
  {% include cloud-one.html %}
</div>
