<header class="site-header">
  {% include logo.html %}
  <section class="hero">
    <h2>The Ruby Conference at the foot of the Rocky Mountains</h2>
    <p>
      Rocky Mountain Ruby brings rubyists together in beautiful Boulder Colorado. Over the past six years people have come to learn new techniques, make new friends, and be immersed in the language they love. There are many software conferences around the world with whiz-bang marketing gimmicks in exotic locations, but there is only one Rocky Mountain Ruby.
    </p>
    <p>
      We love this conference, and we know you will too.
    </p>
    <div class="header-buttons">
      <a class="button header-button of-button-group" href="https://rockymtnruby2016.busyconf.com/bookings/new">Buy Tickets</a>
      <a class="button header-button of-button-group" href="https://rockymtnruby2016.busyconf.com/proposals/new">Submit Talks</a>
    </div>
  </section>
</header>
