{% include talk.html
  title='Beyond Good and ORMs'
  link="well-actually"
  speaker="Steve Klabnik"
  description="ORMs such as ActiveRecord or DataMapper are fabulous tools that have improved the speed at which we're able to develop working, shippable products. As DSLs for working with our persistence layers, they've proven their worth time and time again, but at the cost of stunting our collective knowledge about the built-in, powerful features that different databases have to offer. Let's take a look at some of those features."
  twitter="onealexharms"
%}

{% include talk.html
  title='Cultivating Emotional Safety for Creative Work'
  link="well-actually"
  speaker="Alex Harms"
  description="When we’re feeling stressed, threatened, or unsafe, our bodies help us do a lot of things better. We’re able to run faster, hit harder, yell louder. We are able to notice the slightest movement out of the corner of our eye. Things we do not do better: think creatively, work collaboratively, solve problems. </br> </br> These are very human activities, and they work best in a very human environment. We know that emotional safety is vital to a team's productivity. Let’s talk about what it takes to have psychological safety, and how to get there."
  twitter="onealexharms"
%}

{% include talk.html
  title='“Well, Actually…”'
  link="well-actually"
  speaker="Alex Harms"
  description="Functional programmers have a reputation for being hard to work with. Ever wondered why? … Every interaction is full of choices. Find out which tend to push people away, and which can help people enjoy their interactions. And learn how to tell the difference, even in the heat of the moment."
  twitter="onealexharms"
%}

{% include talk.html
  title='“Well, Actually…”'
  link="well-actually"
  speaker="Alex Harms"
  description="Functional programmers have a reputation for being hard to work with. Ever wondered why? … Every interaction is full of choices. Find out which tend to push people away, and which can help people enjoy their interactions. And learn how to tell the difference, even in the heat of the moment."
  twitter="onealexharms"
%}

{% include talk-holder.html %}
