$black:      #1A1A1A;
$green:      #74BBB1;
$red:        #CA446A;
$dark-red:   #99435C;
$grey:       #403D3D;

$shaow-green:     #8C958D;
$shadow-red:      #42282D;

$highlight-green: #4fdbca;
$highlight-red:   #9C8692;
