.site-header {
  margin-bottom: $spacing-unit;
  padding-left: $spacing-unit;
  width: 50%;
  @media (max-width: 550px) {
    padding-left: $spacing-unit / 2;
    margin-bottom: $spacing-unit / 2;
  }
}

.site-header-title {
  display: inline;
  font-size: 10vw;
  vertical-align: bottom;
  color: rgba($red, 0.8);
  line-height: 1;

  @media (max-width: 550px) {
    font-size: 8vw;
    line-height: 1.2;
  }
}

.site-logo-link {
  text-decoration: none;
}

.site-header svg {
  display: inline-block;
  width: 11.5vw;
  margin-left: 1.5vw;
  @media (max-width: 550px) {
    width: 9vw;
  }
}

.site-nav {
  float: right;
  padding-top: $spacing-unit / 2;
  line-height: 1.2;

  @media (max-width: 550px) {
    display: none;
  }
}

.site-nav-mobile {
  display: none;
  @media (max-width: 550px) {
    display: block;
    text-align: left;

    .site-nav-item {
      font-size: 1em;
      margin-left: $spacing-unit / 2;
    }
  }
}

.site-nav-item {
  color: #A73B5A;
  font-size: 1.4rem;
  text-decoration: none;
  font-family: 'cubano';
  text-shadow: 2px 2px 0px $green;
}

.site-nav .site-nav-item {
  line-height: 0;
  margin-left: $spacing-unit;
}

.site-footer .site-nav-item {
  display: block;
}

.hero {
  background: rgba($grey, 0.1);
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  margin-bottom: $spacing-unit * 2;
  overflow: hidden;
  width: 100%;
}

.hero-content {
  max-width: 960px;
}

.hero-title {
  font-size: 2rem;
  color: white;
}

.header-buttons {
  margin-bottom: $spacing-unit;
}

polyline {
  transition: all 500ms ease-in-out;
}

polyline:hover {
  fill: transparent;
  stroke: $green;
}
