.logo {
  float: left;
}

.site-header {
  overflow: hidden;
  min-height: 200px;
  margin-bottom: $spacing-unit * 2;
  padding: $spacing-unit;
}

.hero {
  width: 50%;
  float: right;
}

.header-buttons {

}
