.site-header {
  position: relative;
}

.st0{opacity:0.9; transform:translateY(10px);}
.st1{opacity:0.34;fill:#B9E3CA;}
.st2{opacity:0.34;fill:#C18AA0;stroke:#B9E3CA;stroke-miterlimit:10;}
.st3{opacity:0.90;fill:#934654;}
.st4{opacity:0.34;fill:#9F5C7B;}
.st5{opacity:0.34;fill:#AE8FA8;stroke:#A2DDD7;stroke-miterlimit:10;}
.st6{opacity:0.34;fill:#934654;stroke:#4FDBCA;stroke-width:2;stroke-miterlimit:10;}
.st7{opacity:0.26;fill:#3BA89B;}
.st8{opacity:0.34;fill:#A83759;}
.st9{opacity:0.34;fill:#A83759;stroke:#4FDBCA;stroke-miterlimit:10;}
.st10{opacity:0.34;fill:#8D7B98;}
.st11{opacity:0.43;fill:#69D0C4;}
.st12{opacity:0.67;fill:#69D0C4;}
.st13{opacity:0.29;fill:#69D0C4;}
.st22{opacity:0.7;fill:#69D0C4;}
