.site-header {
  position: relative;
}

.st0  { opacity: 0.9; transform: translateY(10px); }
.st1  { opacity: 0.3; fill: $green; stroke: transparent; }
.st2  { opacity: 0.3; fill: $black; stroke: #B9E3CA; stroke-miterlimit: 10; }
.st3  { opacity: 0.9; fill: $black; stroke: transparent; }
.st4  { opacity: 0.3; fill: $black; stroke: transparent; }
.st5  { opacity: 0.3; fill: $black; stroke: #A2DDD7; stroke-miterlimit: 10; }
.st6  { opacity: 0.3; fill: $black;  stroke: $black; stroke-miterlimit: 10; }
.st7  { opacity: 0.2; fill: #3BA89B; stroke: transparent; }
.st11 { opacity: 0.4; fill: #69D0C4; stroke: transparent; }
.st12 { opacity: 0.6; fill: #69D0C4; stroke: transparent; }
.st13 { opacity: 0.2; fill: #69D0C4; stroke: transparent; }
.st22 { opacity: 0.7; fill: #69D0C4; stroke: transparent; }

path {
  transition:
    stroke 500ms ease-in-out,
    opacity 500ms ease-in-out,
    fill 500ms ease-in-out;
}

path:hover {
  stroke: #B9E3CA;
  fill: $black;
  opacity: 0.8;
}
