.section-header {
  margin: 160px 0 0 0;
  position: relative;
  width: 100%;
}

.section-header-title {
  font-size: 3rem;
  color: $red;
}

.section-header svg {
  position: absolute;
  top: -250px;
  left: -486px;
}
