.talks {
  flex-wrap: wrap;
  display: flex;
}

.talk {
  flex: 50%;
  color: $dark-red;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  margin-bottom: $spacing-unit;
  background: rgba($grey, 0.1);

  &:nth-of-type(6n+1) {
    flex: 100%;
  }

  @media (max-width: 550px) {
    flex: 100%;
  }
}

.talk-header {
  border-bottom: 1px solid rgba(222,222,222,0.1);
  margin-bottom: 20px;
}

.talk-speaker a {
  color: $green;
  text-transform: uppercase;
  font-size: 24px;
  text-decoration: none;
  letter-spacing: 10px;
}

.talk-description {
  font-weight: 100;
}

.talk-title {
  font-size: 30px;
  font-weight: 800;
  a {
    text-decoration: none;
  }
}


.talk-holder {
  opacity: 0.3;

  .talk-title {
    color: $shaow-green;
  }
  .talk-speaker {
    color: $green;
    text-transform: uppercase;
    font-size: 24px;
    text-decoration: none;
    letter-spacing: 11px;

    span {
      background: #74BBB1;
      margin-left: 5px;
      width: 27px;
      display: inline-block;
      line-height: 1.2;
    }
  }

  p {
    background: $dark-red;
    display: inline;
  }
}
