html {font-size: 1rem;}

body {
  font-family: 'calluna', sans-serif;
  background-color: white;
  font-weight: 400;
  line-height: 1.45;
  color: $dark-red;
  font-size: 1.1rem;
}

p {
  margin-bottom: 1.3rem;
  font-weight: lighter;
}

h1, h2, h3, h4 {
  font-family: 'cubano';
  margin: 1.414rem 0 0.5rem;
  font-weight: inherit;
  line-height: 1.2;
  color: #8C958D;
}

h1 {
  margin-top: 0;
  font-size: 2.441rem;
}

h2 {font-size: 2.3rem;}

h3 {font-size: 1.563rem;}

h4 {font-size: 1.25rem;}

small, .font_small {font-size: 0.8rem;}

a {
  color: $shaow-green;
}
